<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us - Harvest Store</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>
<body class="bg-gray-100">

  <!-- Navbar -->
  {% include "navbar.html" %}

  <!-- Main content -->
  <div class="container mx-auto px-4 py-20">
    <h1 class="text-5xl font-bold mb-4 text-center text-gray-900">About Us</h1>

    <!-- Introduction -->
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-8 my-8 ">
        {% load static %}

      <img src="{% static 'images/logome.png' %}" alt="Farm" class= "w-1/4 rounded-lg shadow-lg mb-4 md:mb-0">
      <div class="flex flex-col w-2/4 gap-9">
        <p class="text-lg mb-4 text-justify"><span class="text-gray-900 font-bold text-3xl">Harvest Store</span> is a family-owned business that was established in 1990. We started as a small local store that sells fresh produce to the nearby communities. Over the years, we have expanded our product line and services to cater to the growing needs of our customers.</p>
        <p class="text-lg mb-4 text-justify">Our mission is to provide high-quality products and exceptional customer service. We work directly with local farmers and producers to ensure that our customers get the freshest and best-tasting produce at a fair price.</p>
        <p class="text-lg mb-4 text-justify">We take pride in our work and in serving our community. Thank you for choosing Harvest Store as your go-to place for all your agricultural needs.</p>
      </div>
    </div>


</div>
</body>
  {% include "footer.html" %}

</html>
